igp_*
*.gz
*.swp
pub/System/ImagePlugin/style.css
pub/System/ImagePlugin/jquery.imagetooltip.js
ImagePlugin.md5
ImagePlugin.sha1
ImagePlugin.tgz
ImagePlugin.txt
ImagePlugin.zip
ImagePlugin_installer
ImagePlugin_installer.pl
