/* ImagePlugin css styles */
.imageThumb,
.imageFrame,
.imageFloat,
.imageSimple {
  line-height:120%;
}
.imageThumb,
.imageFrame,
.imageFloat {
  font-size:90%;
  overflow: hidden;
}
.imageFrame {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display:inline-block;
}
.imageThumb {
  padding: 3px;
  display:inline-block;
}
a.imageHref {
  border:0px;
  background-image:none !important;
  text-decoration:none !important;
}
a:hover.imageHref {
  background-color:transparent !important;
  text-decoration:none !important;
}
.imageFrame .imageHref {
  border: 1px solid #ccc;
  display:block;
  overflow: hidden;
}
.imageThum img,
.imageFrame img {
  border-right:1px solid transparent; /* safari + konqueror fix */
}
.imageThumb .imageHref {
  display:block;
  overflow: hidden;
}
.imageSimple {
  overflow:visible;
  display:inline-block;
}
.imageThumb_right,
.imagePlain_right,
.imageFloat_right,
.imageSimple_right,
.imageFrame_right {
  float:right;
  margin:0 0 1em 1em;
}
.imageThumb_left,
.imagePlain_left,
.imageSimple_left,
.imageFrame_left,
.imageFloat_left {
  float:left;
  margin:0 1em 1em 0;
}
.imageThumb_center,
.imageSimple_center,
.imageFrame_center,
.imageFloat_center {
  text-align:center;
  clear:both;
  margin:0 auto;
  display:block;
}
.imageThumb_center,
.imageFrame_center {
  margin:1em auto;
}
.imageThumb_none,
.imageFrame_none {
  margin:1em;
}
.imageCaption {
  text-align: left;
  color:#444;
  line-height:140%;
  padding:.3em 2px;
}
.imageMagnify {
  float:right;
  margin:.3em 0;
}
.imageCaption .imageMagnify a {
  text-decoration:none;
}
.imageMagnify img {
  border:0;
  margin:0 1px;
}

