Source: foswiki-image-plugin
Section: web
Priority: optional
Maintainer: Michael Daum <debian@michaeldaumconsulting.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Homepage: http://foswiki.org/Extensions/ImagePlugin
#Vcs-Git: git://git.debian.org/collab-maint/foswiki.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/foswiki.git;a=summary

Package: foswiki-image-plugin
Architecture: all
Depends: ${misc:Depends}, foswiki-cache-contrib, foswiki-core, foswiki-j-query-plugin, libimage-magick-perl, libwww-perl 
Suggests: foswiki-x-send-file-contrib
Description: Image and thumbnail services 
 (...add your text here...)
 .
 See http://foswiki.org/Extensions/ImagePlugin for more.
