%{ format definitions for image types }%

%TMPL:DEF{"image:link"}%<a %IF{"'$id'!=''" then="id='$id' "}%class='imageLink' href='$href' title='$title' style='$style'>$text</a>%TMPL:END%

%TMPL:DEF{"image:plain"}%<img class='imagePlain imagePlain_$align$class' src='$src' alt='$alt' title='$title' width='$width' height='$height' $mousein $mouseout style='$style' />%TMPL:END%

%TMPL:DEF{"image:simple"}%<a %IF{"'$id'!=''" then="id='$id' "}%class='imageHref imageSimple imageSimple_$align$class' title='$title' style='$style' href='$href' ><img src='$src' alt='$alt' width='$width' height='$height' $mousein $mouseout/></a>%TMPL:END%
  
%TMPL:DEF{"image:frame"}%<div %IF{"'$id'!=''" then="id='$id' "}%class='imageFrame imageFrame_$align$class' style='width:$framewidthpx;$style'><a class='imageHref' title='$title' href='$href'><img src='$src' alt='$alt' width='$width' height='$height' $mousein $mouseout/></a>$caption</div>%TMPL:END%

%TMPL:DEF{"image:float"}%<div %IF{"'$id'!=''" then="id='$id' "}%class='imageFloat imageFloat_$align$class' style='$style'><a class='imageHref' title='$title' href='$href'><img src='$src' alt='$alt' width='$width' height='$height' $mousein $mouseout/></a>$caption</div>%TMPL:END%

%TMPL:DEF{"image:thumb"}%<div %IF{"'$id'!=''" then="id='$id' "}%class='imageThumb imageThumb_$align$class' style='width:$framewidthpx;$style'><a class='imageHref' title='$title' href='$href'><img src='$src' alt='$alt' width='$width' height='$height' $mousein $mouseout/></a>$caption</div>%TMPL:END%

%{ helper snippets }%

%TMPL:DEF{"image:clear"}%<br class='imageClear' clear='all' />%TMPL:END%
 
%TMPL:DEF{"image:caption"}%<div class='imageCaption'> $caption </div>%TMPL:END%

%TMPL:DEF{"image:magnify"}%<div class='imageMagnify'><a title='Enlarge' href='$href'><img src='$magnifyIcon' width='$magnifyWidth' height='$magnifyHeight' alt='Enlarge' /></a></div>%TMPL:END%
